body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
//Color theme
/* 
$dark-purple: #310a31ff;
$rhythm: #847996ff;
$green-sheen: #88b7b5ff;
$cambridge-blue: #a7cab1ff;
$eggshell: #f4ecd6ff;
 */
$action: #220078;
$theme-colors: (
  "primary": #007822,
  "action": $action,
);

$enable-shadows: true !default;

@import "node_modules/bootstrap/scss/bootstrap";
